# Database
DATABASE_URL=postgresql://crypto_user:crypto_password@localhost:5433/crypto_db
POSTGRES_DB: crypto_db
POSTGRES_USER: crypto_user
POSTGRES_PASSWORD: password

# Redis
REDIS_URL=redis://localhost:6380/0

# Crypto API
CRYPTO_API_KEY=your_coingecko_api_key_here

# JWT Secret (для безопасности)
JWT_SECRET=your_super_secret_jwt_key_here_change_me

# Security
SECRET_KEY=your_fastapi_secret_key_here

# SENTRY
SENTRY_DSN=https://your_key@sentry.io/project_id

PRICE_UPDATE_INTERVAL=300
WORKER_ERROR_DELAY=60
